In [1]:
import pandas as pd

In [15]:
df.tail()

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
995,2022-02-11 11:00:00,28.619382,48.850160,1080.087000,5,Off,Off,21.194696,Saturday,No,82.306692
996,2022-02-11 12:00:00,23.836647,47.256435,1705.235156,4,Off,On,25.748176,Tuesday,Yes,66.577320
997,2022-02-11 13:00:00,23.005340,48.720501,1320.285281,6,Off,On,0.297079,Friday,Yes,72.753471
998,2022-02-11 14:00:00,25.138365,31.306459,1309.079719,3,On,Off,20.425163,Thursday,Yes,76.950389
999,2022-02-11 15:00:00,23.051165,42.615421,1018.140606,6,Off,On,2.455657,Saturday,No,71.545311

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          1000 non-null   object
 1   Temperature        1000 non-null   float64
 2   Humidity           1000 non-null   float64
 3   SquareFootage      1000 non-null   float64
 4   Occupancy          1000 non-null   int64
 5   HVACUsage          1000 non-null   object
 6   LightingUsage      1000 non-null   object
 7   RenewableEnergy    1000 non-null   float64
 8   DayOfWeek          1000 non-null   object
 9   Holiday            1000 non-null   object
 10  EnergyConsumption  1000 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB

In [6]:
holiday_energy = df[df["Holiday"] == "Yes"]["EnergyConsumption"].sum()

In [7]:
print(f"Total Energy Consumption on Holidays: {holiday_energy}")

Total Energy Consumption on Holidays: 36215.26224385906

In [8]:
Nonholiday_energy = df[df["Holiday"] == "No"]["EnergyConsumption"].sum()
print(f"Total Energy Consumption on Holidays: {Nonholiday_energy}")

Total Energy Consumption on Holidays: 40840.61062483373

In [9]:
df.describe()

,Temperature,Humidity,SquareFootage,Occupancy,RenewableEnergy,EnergyConsumption
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,24.982026,45.395412,1500.052488,4.581000,15.132813,77.055873
std,2.836850,8.518905,288.418873,2.865598,8.745917,8.144112
min,20.007565,30.015975,1000.512661,0.000000,0.006642,53.263278
25%,22.645070,38.297722,1247.108548,2.000000,7.628385,71.544690
50%,24.751637,45.972116,1507.967426,5.000000,15.072296,76.943696
75%,27.418174,52.420066,1740.340165,7.000000,22.884064,82.921742
max,29.998671,59.969085,1999.982252,9.000000,29.965327,99.201120

In [10]:
filtered_df = df[df["LightingUsage"] == "Off"]

In [11]:
average_energy_off = filtered_df["EnergyConsumption"].mean()

In [12]:
print(f"Average Energy Consumption when LightingUsage was Off: {average_energy_off}")

Average Energy Consumption when LightingUsage was Off: 76.30897046759982

In [13]:
occupancy_counts = df["Occupancy"].value_counts()

In [14]:
print(occupancy_counts)

Occupancy
8    118
6    107
3    106
7    101
0     98
5     96
2     96
1     93
9     93
4     92
Name: count, dtype: int64