In [3]:
import numpy as np  # Numerical computations
import pandas as pd  # Data manipulation and analysis
import matplotlib.pyplot as plt  # Data visualization
import seaborn as sns  # Advanced visualizations

**Edunet chutiyap**

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
full_name = "sahil n pawar"
full_name.split(" ")

['sahil', 'n', 'pawar']

In [2]:
for i in range(10 , 1 , -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
fees = ["$100", "$200", "$300"]
res = []

for i in fees:
    res.append(int(i.split("$")[1]))  # Splitting and extracting the number part

print(res)

[100, 200, 300]

In [9]:
num = 0
for i in res:
    num = num + i

print(num)

600

In [10]:
energy = {"Building1" :[100,200,300] , "Building2" : [100,200,440]}
print(energy["Building1"])

[100, 200, 300]

In [12]:
one = sum(energy["Building1"])
two = sum(energy["Building2"])
print(one + two)

1340